@import url(../../style.css);

.titulo {
    font-weight: 600;
    font-size: 3.125em; /* 50px */
    margin: 1em 2em 0 0.75em /* 50px 70px 10px */
}

.itens {
    display: flex;
    flex-direction: column;
    gap: 0.0625em; /* 1px */
    width: 100%;
}

.itens__row {
    display: flex;
    justify-content: space-evenly; /* Coloca as colunas nos extremos opostos */
    gap: 0.625em; /* 10px */
}

.itens__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Alinha o texto ao fundo do item */
    text-align: center;
    width: 20%; /* Mantém a largura em porcentagem */
    margin-top: 2em;
}

.btn {
    background: none; /* Remove o fundo padrão do botão */
    border: none; /* Remove a borda padrão do botão */
    padding: 0; /* Remove o padding do botão */
    cursor: pointer; /* Adiciona o cursor de pointer para indicar que é clicável */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn img {
    width: 6.25em; /* 100px */
    height: auto; /* Ajusta a altura para manter a proporção */
    display: block; /* Remove espaços em branco abaixo da imagem */
}

.lista__item {
    margin-top: 0; /* 10px */
    font-weight: 700;
    font-size: 1.5625em; /* 25px */
    white-space: nowrap; /* Impede a quebra de linha no texto */
    overflow: hidden; /* Esconde o texto que excede a largura do contêiner */
    text-overflow: ellipsis; /* Adiciona "..." no final do texto que ultrapassar */
}
